header .row img{
  float: right;
}


.logoo{
  height: 500px;
  width: 650px;
  float: right;
  margin-left: 80% !important;
}

.logoo:hover{
  transform: scale(1.05);
  transition: 0.5s ease-in;
}
.themecolor {
    background-color: rgb(160, 142, 142);
}
.aply-visa {
    background-color:rgb(32, 226, 74);
    font-size: 15px;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
    position: relative;
    border: none;
}
.aply-visa:hover {
    box-shadow: 0px 5px 10px gray;
    border: transparent;
}
.attrn {
    height: auto;
    padding-bottom: 10px;

}
.attrn-text {
  color: #000000c0;
   width: 45%;
   font-weight:bold;
   font-size: 55px;
   font-family: 'Montserrat',Arial,sans-serif;
}
.attrn-text-inner {
    font-size: 22px;
    width: 45%;
    color: white;
    font-family: sans-serif;
}
.attrn-cmore {
    background:linear-gradient(to right,#b45eb7,#2c59ed);
    border-radius:4px; 
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(237, 238, 238);
    width: 150px;
}
    .attrn-cmore:hover {
    box-shadow: 0px 10px 30px gray;
    }
    .menuitem {
        font-size: 19px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }
    .nav-item{
      color: white
    }
    .menuitem:hover {
        background-color: #710e7486;
        box-shadow: 0px 8px 10px 5px rgba(65, 64, 64, 0.603);
    }
    .dropdown-item{
      background-color: #b45eb7;
    }

    .nav-link{
    color: #c6d4df !important;
}
.navbar-brand{
    color:#c6d4df !important;
}
.dropdown:hover>.dropdown-menu {
    display: block;
    top: 100%;
    background-color: #b45eb7;

  }


    /*footer begins from here*/
   
    .colll{
        color: blue;
        box-shadow: 5px 5px 5px 5px gray;
    }
    .fab:hover{
        transform: scale(1.5);
        box-shadow: 10px 10px 5px gray;
    }
    .fas:hover{
        transform: scale(1.5);
        box-shadow: 10px 10px 5px gray;
    }
    hr {
        border: 1px solid gray;
      }
    .collll{
        text-align: center;
    }
    /* footer end here */



    /* main starts here */
    * {
        box-sizing: border-box;
      }
      
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      
      /* Float four columns side by side */
      .column {
        float: left;
        width: 25%;
        padding: 0 10px;
      }
      
      /* Remove extra left and right margins, due to padding in columns */
      .row {margin: 0 -5px;}
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Style the counter cards */
      .mainwala .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        padding: 16px;
        text-align: center;
        border-radius: 15px;
        
      }
      
      /* Responsive columns - one column layout (vertical) on small screens */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
      }


     .image-top{
         height: 120px;
         width: 120px;
         text-align: centers;
     }

     .imagee{
        display: block;
        width: 100%;
        height: auto;
        box-shadow: 0px 10px 5px grey ;
      }
      

      .overlay {
        position: absolute;
        bottom: 0;
        left: 100%;
        right: 0;
        background-color: rgba(0, 0, 0, 0.363);
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
      }

      .card:hover .overlay {
        width: 100%;
        left: 0;
      }

      .overlay p {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
      }
      .festext {
        font-size: 20px;
      }
     .colli .card p{
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      
     }
     .colli .card {
       padding-bottom: 0 30px;
      
     }
     .mainwala .card{
       height: 371px;
     }

     /* hover card */

     .mainwala .card:hover{
       box-shadow: 0px 10px 20px 5px rgba(42, 78, 177, 0.8);
       transition: 0.6s;
     }

     .back{
      background-image: url(./bg1-01-2.png);
      background-repeat: no-repeat;
      background-size: 80%;
      background-image: cross-fade();
    } 

    .back2{
      background-image: url(./bg2-01-2.png);
      background-repeat: no-repeat;
      background-size: 80%;
      background-image: cross-fade();
    } 

    .mainwala .ttd{
      background-color: lightgreen ;
    }
    .mainwala .ttd:hover{
      background-color: rgb(100, 198, 231);
      transform: scale(1.1);
    }
